@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply bg-gray-100
    rounded-md
    text-sm
    text-gray-500
    hover:ring-1
    disabled:ring-0
    hover:ring-gray-200
    hover:shadow-md
    disabled:shadow-none
    shadow-gray-200
    focus:outline-none
    active:ring-gray-300
    m-2
    w-32
    h-8
    transition-shadow
  }

  .link {
    @apply hover:underline
    cursor-pointer
    hover:text-gray-500
  }

  .header-icon {
    @apply bg-transparent
    hover:bg-gray-200
    p-2
    text-4xl
    rounded-full
    cursor-pointer
  }
}
